%h1
  = t("labels.countries")
.clearfix    
  = link_to t('labels.new'), url_for(action: :new), class: 'btn btn-primary pull-right'
%br
.errors
  = draw_flash_messages
- if countries.any?
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
          = t('labels.name')
        %th
          = t('labels.description')
        %th{ colspan: 2 }
  
    %tbody
      - countries.each do |country|
        %tr
          %td
            = country.name
          %td
            = country.description
          %td{ width: 70 }            
            = link_to t('labels.delete'), country_path(country), method: :delete, data: { confirm: t('labels.confirm_deletion') }, class: 'btn btn-small btn-danger'
          %td{ width: 70 }
            = link_to t('labels.edit'), edit_country_path(country), class: 'btn btn-small btn-primary'
  .pull-right
    = bootstrap_will_paginate countries
- else
  .alert.alert-info
    = t 'labels.no_results_found'
